<div class="alert alert-danger">
  <h3 class="alert-heading"><span>Access denied!</span></h3>
  <p>You have no permission to browse this page. Please, sing in an account with the proper permission.</p>
</div>
