@model AspNetIdentitySample.WebApplication.ViewModels.ViewModelBase

<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />

  <title>@Model.PageTitle</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="~/dist/index.js"></script>
</head>
<body>
  <div class="app">
    <div class="app__header app-header">
      <nav class="app-header__content">
        <a class="app__brand" asp-controller="Home" asp-action="Get"><span>ASP.NET Core Identity Sample</span></a>

        @if (Model.User.IsAuthenticated)
        {
          <div class="app-header__profile profile-menu">
            <a class="app-profile-menu__toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span>@Model.User.Name</span>
            </a>
            <nav class="app-profile-menu__nav dropdown-menu">
              <a class="app-profile-menu__item"><span>Profile</span></a>
              <a class="app-profile-menu__item" asp-controller="SignOut" asp-action="Get"><span>Sign out</span></a>
            </nav>
          </div>
        }
      </nav>
    </div>
  </div>

  <main class="app__main app-main">
    @RenderBody()
  </main>
</body>
</html>
