@model AspNetIdentitySample.WebApplication.ViewModels.ProfileViewModel

<div class="app-profile">

  <form class="app-profile__form app-form" method="post">

    <div class="app-form__group app-control">
      <span class="app-control__field">@Model.Email</span>
      <label class="app-control__label" asp-for="Email">Email</label>
    </div>

    <div class="app-form__group app-control">
      <input class="app-control__field" asp-for="Name" type="text" placeholder="Name" />
      <label class="app-control__label" asp-for="Name">Name</label>
    </div>

    <div class="app-profile__buttons app-form__buttons">
      <button class="app-profile__ok app-form__button" type="submit"><span>Ok</span></button>
      <a class="app-profile__cancel app-form__button" href="@Model.ReturnUrl"><span>Cancel</span></a>
    </div>

  </form>

</div>
